.wrapper {
  padding: 1rem 3rem;

  min-height: 100vh;
  background-color: rgba(33, 33, 33, 1);
  color: goldenrod;
}

.workBlock {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 6rem auto;
}

.workBlock div + div {
  margin: 0 1rem;
}

.year {
  padding-right: 1rem;
  border-right: 1px solid grey;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 1rem 2rem;
  }
  .year {
    padding: 0 1rem;
    border: none;
  }
  .workBlock {
    display: grid;
    grid-template-columns: auto;
  }
}

.hr {
  border-top: 1px solid lightgray;
  margin: 1rem 0;
}
