.wrapper {
  padding: 1rem 3rem;

  min-height: 100vh;
  background-color: #06283d;
  color: #dff6ff;
}

.title {
  color: gold;
}

.cardTitle {
  color: #47b5ff;
  margin: 0.4rem 0 !important;
}

.workBlock {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 6rem auto;
}

.workBlock div + div {
  margin: 0 1rem;
}

.year {
  padding-right: 1rem;
  border-right: 1px solid grey;
}

.header {
  margin: 0.3rem 0 !important;
}

.text {
  color: lightgrey;
  font-size: smaller;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 1rem 2rem;
  }
  .year {
    border: none;
  }
  .workBlock {
    display: grid;
    grid-template-columns: auto;
  }
  .workBlock div + div {
    margin: 0;
  }
}

.hr {
  border-top: 1px solid lightgray;
  margin: 1rem 0;
}
