.wrapper {
  background-color: #eaf0f1;
  display: grid;
  width: 30vw;
  min-width: 20rem;
  height: 30rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
}

.wrapper:hover {
}

.pictureDiv {
  width: 100%;
  height: 16rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 1.5rem;
}

.button {
  font-size: 2rem;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  z-index: 10;
}

.tags {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.text {
  text-align: center;
}
.textP {
  overflow: auto;
  height: 6rem;
  text-align: left;
  color: gray;
}

@media (max-width: 1450px) {
  .wrapper {
    background-color: #eaf0f1;
    display: grid;
    width: 20vw;
    min-width: 20rem;
    height: 30rem;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  }

  .grid {
    grid-template-columns: auto;
  }
}
