.wrapper {
  padding: 4rem 3rem;
  height: 100vh;

  background-color: #06283d;
  color: #dff6ff;
}

.title {
  color: gold;
}

.info {
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto auto;
}
a {
  color: #47b5ff;
}

.profilePicDiv {
  height: 30vw;
  display: flex;
  justify-content: center;
}

.picture {
  height: 25vw;
  border-radius: 10%;
  animation-name: picture;
  animation-duration: 0.5s;
}

.listDiv {
  display: grid;
  column-gap: 0;
  grid-template-columns: auto auto;
}

.picture:hover {
  border-radius: 0;
  animation-name: pictureHover;
  animation-duration: 0.5s;
}

@keyframes pictureHover {
  from {
    border-radius: 10%;
  }
  to {
    border-radius: 0;
  }
}

@keyframes picture {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 10%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 4rem 2rem;

    grid-template-columns: auto;
    row-gap: 0;
    height: 1000px;
  }

  .profilePicDiv {
    height: 70vw !important;
    margin-bottom: 3rem;
  }

  .picture {
    height: 70vw !important;
  }

  .listDiv {
    display: grid;
    column-gap: 0;
    grid-template-columns: auto;
  }

  .info {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto;
  }
}

@media (max-width: 1230px) {
  .listDiv {
    display: grid;
    column-gap: 0;
    grid-template-columns: auto;
    padding: 0 !important;
  }

  .profilePicDiv {
    height: 35vw;
  }

  .picture {
    height: 30vw;
  }
}
