.wrapper {
  padding: 4rem 3rem;
  height: 529px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto auto;
}

.profileDiv {
}

.profile {
  height: 28rem;
  border-radius: 0;
  animation-name: profile;
  animation-duration: 0.5s;
}

.profile:hover {
  border-radius: 10%;
  animation-name: profileHover;
  animation-duration: 0.5s;
}

@keyframes profileHover {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 10%;
  }
}

@keyframes profile {
  from {
    border-radius: 10%;
  }
  to {
    border-radius: 0;
  }
}
