.menuButton {
  height: 2rem;
  width: 2rem;

  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1vw;
  left: 1vh;
  z-index: 1000;
  background-color: rgb(58, 58, 58);
  color: white;
  border: none;
  border-radius: 50px;
  user-select: none;
}

.menuButton:hover {
  background-color: rgb(94, 94, 94);
}

.headerOpen {
  position: relative;
  min-width: 15rem;
  min-height: 721px;
  height: 100%;
  z-index: 1;
  padding: 0 1rem;
  background-color: rgba(33, 33, 33, 1);
  box-shadow: rgba(3, 21, 33, 0.4) 7px 0 3px;
}

.headerClosed {
  display: none;
}

.headerOpen h3 {
  color: #dff6ff;
}

.navBar {
  height: 4.5rem;
  user-select: none;
  min-width: 15rem;
  min-height: 721px;
  position: fixed;

  animation-name: fade;
  animation-duration: 1s;
}

.profile {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  display: flex !important;
  justify-content: center !important ;
  align-items: center;
  margin: 2rem auto;
  border-radius: 50%;
  animation-name: profile;
  animation-duration: 0.5s;
}

.profile:hover {
  border-radius: 10%;
  animation-name: profileHover;
  animation-duration: 0.5s;
}

@keyframes slide {
  from {
    display: inline;
  }
  to {
    display: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes profileHover {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 10%;
  }
}

@keyframes profile {
  from {
    border-radius: 10%;
  }
  to {
    border-radius: 50%;
  }
}

.link {
  height: 2.5rem;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
}

.link:hover {
  color: #dff6ff;
}

.link:visited {
  color: #dff6ff;
}

.profileBar {
  display: flex;
  padding-right: 1rem;
}

.headerOpen a {
  text-decoration: none;
  color: rgb(134, 134, 134);

  font-weight: bold;
}

.contact {
  display: flex;
  color: lightgray;

  justify-content: space-around;
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.contact a {
  color: lightgray;
}

.contactButton {
  padding: 0.2rem;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background-color: rgba(70, 70, 70, 0.7);
}

.contactButton:hover {
  background-color: rgba(106, 106, 106, 0.7);
}
.contactButton:active {
  background-color: rgba(129, 129, 129, 0.7);
}

@media (max-width: 900px) {
  .headerOpen {
    display: none !important;
    animation-name: fadeClose;
    animation-duration: 2s;
  }

  .headerClosed {
    display: initial !important;
    position: fixed;
    z-index: 100;

    min-width: 15rem;
    min-height: 721px;
    background-color: rgba(5, 33, 51, 0.9);
    box-shadow: rgba(0, 0, 0, 0.2) 7px 0 3px;

    padding: 0 1rem;
    animation-name: fade;
    animation-duration: 1s;
  }

  .headerClosed h3 {
    color: #dff6ff;
  }

  .headerClosed a {
    text-decoration: none;
    color: rgb(134, 134, 134);

    font-weight: bold;
  }
}
