.menuButton {
  height: 2rem;
  width: 2rem;

  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1vw;
  left: 1vh;
  z-index: 1000;
  background-color: rgb(58, 58, 58);
  color: white;
  border: none;
  border-radius: 50px;
}

.headerOpen {
  min-width: 15rem;
  min-height: 721px;
  background-color: rgba(33, 33, 33, 1);
  box-shadow: rgba(0, 0, 0, 0.9) 7px 0 3px;
  transition: 0.5s;
  padding: 0 1rem;
}

.headerClosed {
  display: none;
}

.headerOpen h3 {
  color: goldenrod;
}

.navBar {
  height: 4.5rem;
  user-select: none;
}

.profile {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  display: flex !important;
  justify-content: center !important ;
  align-items: center;
  margin: 2rem auto;
  border-radius: 50%;
  animation-name: profile;
  animation-duration: 0.5s;
}

.profile:hover {
  border-radius: 20%;
  animation-name: profileHover;
  animation-duration: 0.5s;
}

@keyframes profileHover {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 20%;
  }
}

@keyframes profile {
  from {
    border-radius: 20%;
  }
  to {
    border-radius: 50%;
  }
}

.link {
  height: 2.5rem;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
}

.link:hover {
  color: goldenrod;
}

.link:visited {
  color: goldenrod;
}

.profileBar {
  display: flex;
  padding-right: 1rem;
}

.headerOpen a {
  text-decoration: none;
  color: rgb(134, 134, 134);

  font-weight: bold;
}

.active {
  color: black;
  /* border-bottom: 2px solid black;
    padding: 0;
    padding-top: 2px;
    margin: 0 1rem; */
}

.active a {
  color: rgb(49, 49, 49) !important;
  user-select: none;
}
.active:hover {
  background-color: white;
  border-radius: 0;
  user-select: none;
}

@media (max-width: 900px) {
  .headerOpen {
    transition: 0.5s;
    display: none !important;
  }

  .headerClosed {
    display: initial !important;
    transition: 0.5s;
    position: fixed;
    z-index: 100;

    min-width: 15rem;
    min-height: 721px;
    background-color: rgba(33, 33, 33, 0.9);
    box-shadow: rgba(0, 0, 0, 0.2) 7px 0 3px;

    padding: 0 1rem;
  }

  .headerClosed h3 {
    color: goldenrod;
  }

  .headerClosed a {
    text-decoration: none;
    color: rgb(134, 134, 134);

    font-weight: bold;
  }
}
